a {
  text-decoration: none;
  }
  
  *{  
    z-index:  auto ;
    margin: 0;
  }
  body{
    width:100%;
   /* background-image: url(img/fondo.jpg) ;*/
    font-size: 15px;
    font-weight: 400;
    display:flexbox; 
    background-color: rgb(20, 90, 102);
  }

   
  /*frase*/
  h1{  
    font-size: 2em;
    text-transform: uppercase;
    padding-top: 120px;
    margin-right: 30px
  }

  h2{
    font-family: 'Bluu Next', serif;
    font-size: 1.7em;
    text-align: center;
   /*font-weight: 100;*/
    margin-right: 60px;
  }
  
h3, h4{
  font-family: verdana;
  font-style:normal;
  /*font-weight: bold;*/ 
  text-align:center;
  } 

 



  .ficha{
    display: inline-block;
    width: 200px; 
    color: #fff;
    margin-top: 70px;
    border-radius: 32px;
    text-align: center;
    outline: none;
    text-decoration: none;
    font-family: 'sofia-pro', sans-serif;
    font-style: normal;
    font-size: 18px;
    border: 2px solid #fff;
    margin-left: 495px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  
  .ficha:hover,.ficha:active{  
    justify-content: center;
  }








.results{
  padding: 0;
  list-style: none;
  display: -webkit -box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:inline-flex;
  justify-content: space-around;
  height: 500px;
  
}
.results1{
  padding: 10%;
  list-style: none;
  display: -webkit -box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:inline-flex;
  justify-content: space-around;
  height: 500px;
  
}

.results2{
  padding: 0;
  list-style: none;
  display: -webkit -box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: inline-flex;
  justify-content: space-around;
  height: 500px;
  
}





.plot{
  width: 50%;
  height:80%;
  margin: 1em;
  border: 1px solid #FFFFFF;
  font-size:80%;
  text-align: left;
}

.trivia {
  width: 80%;
  height:280px;
  margin: 1em;
  font-size: 130%;
  border-radius: 1em;
  display: inline-flex;
  /*text-align: center;*/
  color: #ffffff;
  align-content: space-between;
  align-items: baseline;
  padding-top:19px;
  border: 1px solid #FFFFFF;
  padding-left: 19px;
  padding-right: 19px;
}





.card {
  width: 40%;
  height:280px;
  margin: 1em;
  font-size: 150%;
  border-radius: 1em;
  display: inline-flex;
  text-align: center;
  color: #ffffff;
  align-content: space-between;
  align-items: baseline;
  padding-top:19px;
  border: 1px solid #FFFFFF;
  padding-left: 19px;
  padding-right: 19px;
}

.todas{
  width: 20%;
  height:280px;
  margin: -3.2em;
  font-size: 150%;
  border-radius: 1em;
  display: inline-flex;
  text-align: center;
  color: #ffffff;
  align-content: center;
  align-items: baseline;
  padding-top:19px;
  border: 1px ;
  padding-left: 19px;
  padding-right: 19px;
 
} 
.todas img{
  width: 60%;
  height:200px;
  padding: 0;
  align-self: center;  
 }
 
 

.card img{
 width: 60%;
 height:200px;
 padding: 0;
 align-self: center;  
}

ul{
  list-style-type: none;
  padding:1px;
  padding-top:1px ;
}


.filters select option {
    padding: 30px;
    width:300px;
}


  
.card:hover + #charCharacters {
display: inline-block;

}

.texts{
  height: 1rem;
  width: 20%;
  background-color:rgb(238, 227, 227);
  border-radius:8px;
  padding:10px;
  font-family: Verdana;
  font-size: 10px; 
  color:#5D576B;  
  margin-top: 10px;
  resize:none;
  }
  #buttonSearch{
    height: 40px;
    padding-top:10px;
    margin-right:5px;
    }
    
    .firstButton{
    height: 35px;
    /*float: right;*/
    width:153px;
    padding: 5px;
    font-size: 15px;
    color:#FDFDFF;  
    background-color:#661E13;
    border-radius: 8px;
    margin-left:1px;
    border:1px solid #5D576B;
    }
      
    .firstButton:hover{
    background-color: rgb(209, 56, 76);
    }

    .searching{
      height: 1000px;
      padding:30px;
      color:#5D576B;  
      margin-bottom:100px;



      }


     